BOT_TOKEN=8791603574:AAGayK207F92EM_uj2ZUKWuDbaUmDKuOY44
BOT_USERNAME=GIVEAWAY_OP_BOLTE_bot
OWNER_IDS=8394041476,8545728700,8595642160,2145828547,8396616795,8498330921
DATABASE_PATH=giveaway.db
SUPPORT_LINK=https://t.me/+Imyf3M9TO5k1ODRl
POWERED_BY_TEXT=Powered By Gms Network
BANNER_URL=https://files.catbox.moe/odeutr.png
DONATE_QR=https://files.catbox.moe/nx4jci.png
LOG_LEVEL=INFO
